
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
background-size:cover ;
}
canvas{
   border: 10px solid rgb(39, 17, 236); 
   box-shadow:30px 30px 10px goldenrod ;
   border-radius: 150px;
}